.colores {
    color: #326e7b; /*azul*/
    color: #1d1d1b; /*negro*/
    color: #575756; /*gris*/
}

h1,h2,h3,h4 {
    color: #1d1d1b !important;
    text-align: center;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

.container-menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 16px;
}

.container-menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-menu-item-title{
    font-size: 16px;
    font-weight: bold;
    max-width: 300px;
}

.container-menu-item-title.no-allergic{
    font-size: 16px;
    font-weight: bold;
}

.container-title-and-alergic{
    display: flex;
    flex-direction: column;
}

.container-menu-item-title span{
    color: #575756;
    line-height: 1.2;
}

.container-menu-item-allergic {
    margin: 5px 10px 5px 0;
}

.container-menu-item-allergic img{
    margin: 0 1px;
}

.container-menu-item-cost {
    font-size: 16px;
    font-weight: bold;
}

.container-menu-item-cost span{
    color: #326e7b;
    line-height: 1.2;
}

.premium-name {
    margin: 0 10px; 
    color: #575756 !important; 
    font-style: italic;
}

.message-center-menu {
    text-transform: uppercase;
    font-size: 14px;
    color: #326e7b;
}

.first-cost-wine {
    margin-right: 12px;
}

.container-with-border {
    border-left: 2px solid #326e7b;
    border-right: 2px solid #326e7b;
    border-bottom: 2px solid #326e7b;
    padding: 0 15px;
    margin-bottom: 40px;
}

.nav-tabs {
    border-color:#326e7b !important;
    border-width: 2px !important;
}

.nav-link{
    color: #326e7b !important;
    margin-bottom: -2px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    margin-bottom: -2px;
    border-color:#326e7b !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #575756 !important;
    margin-bottom: -2px;
    border-color:#326e7b !important;
    border-width: 2px !important;
    border-bottom: none !important;
}

.section-title-with-img-first {
    padding: 20px 0;
    background-image: url(../img/CARTA_COMIDA/imagen_por_venir.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 80%;
}

.section-title-with-img-second {
    padding: 20px 0;
    background-image: url(../img/CARTA_COMIDA/imagen_para_todos.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 20%;
}

.section-title-with-img-third {
    padding: 20px 0;
    background-image: url(../img/CARTA_COMIDA/imagen_por_quedarte.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 80%;
}

.section-title-with-img-fourth {
    padding: 20px 0;
    background-image: url(../img/CARTA_COMIDA/imagen_por_si_acaso.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 20%;
}

.section-title-with-img-fifth {
    padding: 20px 0;
    background-image: url(../img/CARTA_COMIDA/imagen_para_morirte.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 80%;
}

.not-show-img-mobile{
    display: block;
}

.imgs-from-wine {
    padding: 0 16px; 
    text-align: end; 
    padding-right: 24px;
}

.each-container-allergic-modal{
    margin: 10px 0;
}

.each-container-allergic-modal img{
    width: 40px;
    margin: 0 5px;
}

.each-container-allergic-modal span{
    color: #575756;
    font-weight: bold;
    font-size: 14px;
}

.btn-primary-la-corrala {
    color: #fff !important;
    background-color: #326e7b !important;
    border-color: #326e7b !important;
}

/* .footer-la-corrala {
    background-color: #575756;
    padding: 0 15px;
}

.footer-la-corrala span {
    color: #fff;
}

.footer-la-corrala h1, .footer-la-corrala h3 {
    color: #fff !important;
    text-align: left;
    margin: 15px 0 !important;
    padding: 4px 0 !important;
}

.footer-la-corrala-left {
    padding: 15px 30px 15px 30px;
}

.footer-la-corrala img {
    margin: 24px 0;
}

.footer-la-corrala a {
    color: transparent;
} */

@media(max-width: 768px){
    .not-show-img-mobile{
        display: none;
    }

    .tab-content h4 {
        text-align: left;
        padding: 0 29px;
        font-size: 20px;
    }

    .section-title-with-img-first,
    .section-title-with-img-second,
    .section-title-with-img-third,
    .section-title-with-img-fourth,
    .section-title-with-img-fifth {
        background-position: center right;
    }

    .container-menu-item-title.no-allergic {
        font-size: 12px;
    }

    .container-menu-item-cost {
        font-size: 12px;
    }

    .container-menu-item-title {
        font-size: 12px;
    }

    .first-cost-wine{
        margin-right: 30px;
    }

    .premium-name {
        margin: 0 20px;
    }

    .message-center-menu {
        font-size: 10px;;
    }
}


